In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from collections import Counter

In [27]:
amsterdam = pd.read_csv('datasets/individual-landmarks.csv')

amsterdam = amsterdam.dropna()
amsterdam.head()
X = X.dropna()
X=amsterdam.loc[:,['LATITUDE','LONGITUDE']]

X

      LATITUDE  LONGITUDE
1    41.819256 -87.602788
2    41.876066 -87.628964
3    41.835161 -87.629221
4    41.808530 -87.617204
5    41.910192 -87.726617
..         ...        ...
312  41.917484 -87.685256
313  41.961230 -87.661189
314  41.746005 -87.663706
315  41.907648 -87.627478
316  41.889318 -87.770608

[269 rows x 2 columns]

In [34]:
#run KMeans
id_n=8
kmeans = KMeans(n_clusters=id_n, random_state=0).fit(X)
cluster = pd.DataFrame()
id_label=kmeans.labels_
print(kmeans)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=8, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=0, tol=0.0001, verbose=0)

In [45]:
kmeans.predict()

ValueError: can only specify one unknown dimension

In [36]:
import math

def distance(origin, destination):
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c

    return d